.bottom-buttons {
    display: flex;
    position: relative;
    margin-top: -20px;
}

.bottom-buttons > a {
    flex: 1;
    padding: 1rem 1.5rem;
    color: white;
    text-align: center;
    background: #36383F;
    border: 1px solid #676767;
    text-decoration: none;
}

.bottom-buttons > a > .codepen-for {
    font-size: 1.75rem;
}

.bottom-buttons > a > .bold {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
}
